body {
  background-color: #fafafa;
}

.container {
  background-color: white;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.table-full {
  width: 100%;
}
